# OS / IDE files
.DS_Store
.fleet/
.idea/
*.sln.DotSettings.user
.vscode
*.exe

# Binaries
tools/generator-go-sdk/generator-go-sdk
tools/generator-agent-docs/generator-agent-docs
tools/importer-rest-api-specs/importer-rest-api-specs
tools/mcp-pandora/mcp-pandora
tools/schema-playground/schema-playground
tools/version-bumper/version-bumper
vendor/

# Temp directories
outputs/
pandora-from-main/

# .net binaries
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
