# OS / IDE files
.DS_Store
.fleet/
.idea/
*.sln.DotSettings.user
.vscode
*.exe

# Binaries
tools/extract-tf-resource-ids/extract-tf-resource-ids
tools/generator-go-sdk/generator-go-sdk
tools/importer-rest-api-specs/importer-rest-api-specs
tools/schema-playground/schema-playground
tools/version-bumper/version-bumper
tools/wrapper-automation/wrapper-automation
vendor/

# .net binaries
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
