[submodule "msgraph-metadata"]
	path = submodules/msgraph-metadata
	url = git@github.com:microsoftgraph/msgraph-metadata.git
[submodule "submodules/rest-api-specs"]
	path = submodules/rest-api-specs
	url = git@github.com:Azure/azure-rest-api-specs.git
