[submodule "swagger"]
	path = swagger
	url = git@github.com:Azure/azure-rest-api-specs.git
[submodule "msgraph-metadata"]
	path = msgraph-metadata
	url = git@github.com:microsoftgraph/msgraph-metadata.git
