# OS / IDE files
.DS_Store
.idea/
*.sln.DotSettings.user
.vscode

# Binaries
tools/generator-go-sdk/generator-go-sdk
tools/importer-rest-api-specs/importer-rest-api-specs
vendor/

# .net binaries
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
