name: Run the Version Bumper
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/automation-version-bumper.yaml'
      - 'config/resource-manager.hcl'
      - 'submodules/msgraph-metadata'
      - 'submodules/rest-api-specs'
      - 'tools/version-bumper/**'
  workflow_dispatch: # for manual invocations

jobs:
  run-version-bumper:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: ./.go-version

      - name: build and run version-bumper
        id: bump-versions
        run: |
          cd ./tools/version-bumper
          make tools
          make build
          make run

      - name: then commit the diff
        id: commit-versions-config
        run: |
          git checkout -b config/regeneration-from-${{ github.sha }}
          git config user.name "hc-github-team-tf-azure"
          git config user.email "<>"
          ./scripts/conditionally-commit-codegen-changes.sh "config: regenerating based on the latest Swagger"

      - name: then conditionally push the branch
        id: push-branch
        if: ${{ steps.commit-versions-config.outputs.has_changes_to_push == 'true' || steps.commit-imported-data.outputs.has_changes_to_push == 'true' }}
        run: |
          git push origin config/regeneration-from-${{ github.sha }}

      - name: then conditionally open a pull request
        id: open-pr
        if: ${{ steps.commit-versions-config.outputs.has_changes_to_push == 'true' || steps.commit-imported-data.outputs.has_changes_to_push == 'true' }}
        run: |
          gh pr create --title "$PR_TITLE" --body "$PR_BODY" -H "$PR_SOURCE" -B "$PR_TARGET"
        env:
          PR_TITLE: "Config: regenerating based on ${{ github.sha }}"
          PR_BODY: "Updating the Resource Manager configuration based on the commit ${{ github.sha }}"
          PR_SOURCE: "config/regeneration-from-${{ github.sha }}"
          PR_TARGET: "main"
          GITHUB_TOKEN: ${{ secrets.SERVICE_ACCOUNT_PANDORA_TOKEN }}
