---
name: Detect changes to the API Definitions
on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - 'api-definitions/**' # to detect changes when the API Definitions are updated
      - 'scripts/automation-determine-changes-to-api-definitions.sh' # to handle changes to the script
      - 'tools/data-api/**' # to detect changes when the Data API is updated
      - 'tools/data-api-differ/**' # to detect changes when the Data API Differ is updated

jobs:
  detect-changes-to-the-api-definitions:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: '1.21.3'

      - name: Detect Changes
        run: |
          ./scripts/automation-determine-changes-to-api-definitions.sh outputs/

      - name: Post Comment containing Breaking Changes
        uses: thollander/actions-comment-pull-request@1d3973dc4b8e1399c0620d3f2b1aa5e795465308 # v2.4.3
        with:
          filePath: outputs/breaking-changes.md

      - name: Post Comment containing Changes
        uses: thollander/actions-comment-pull-request@1d3973dc4b8e1399c0620d3f2b1aa5e795465308 # v2.4.3
        with:
          filePath: outputs/changes.md

      - name: Post Comment with New Static Identifiers
        uses: thollander/actions-comment-pull-request@1d3973dc4b8e1399c0620d3f2b1aa5e795465308 # v2.4.3
        with:
          filePath: outputs/static-identifiers.md
