---
name: Verify All Microsoft Graph Services can be Imported and Generated
on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - '.github/workflows/unit-test-end-to-end-microsoft-graph.yaml'
      - 'config/microsoft-graph.hcl'
      - 'tools/generator-go-sdk/**'
      - 'tools/importer-msgraph-metadata/**'

jobs:
  test:
    runs-on: custom-linux-xl
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          submodules: recursive

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: ./.go-version

      - name: "Build and Run importer-msgraph-metadata"
        id: import-data
        run: |
          cd ./tools/importer-msgraph-metadata
          make tools
          make build
          make import

      - name: "Run the Go SDK Generator"
        run: |
          ./scripts/automation-generate-go-sdk.sh microsoft-graph
