---
name: Verify All Resource Manager Services can be Imported and Generated
on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - '.github/workflows/unit-test-end-to-end-resource-manager.yaml'
      - 'config/resource-manager.hcl'
      - 'config/resources/**'
      - 'tools/generator-go-sdk/**'
      - 'tools/importer-rest-api-specs/**'

jobs:
  test:
    runs-on: custom-linux-xl
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          submodules: recursive

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: ./.go-version

      - name: "Build and Run importer-rest-api-specs"
        id: import-data
        run: |
          cd ./tools/importer-rest-api-specs
          make tools
          make build
          make import

      - name: "Run the Go SDK Generator"
        run: |
          # go go gadget generator
          ./scripts/automation-generate-go-sdk.sh resource-manager
