---
name: Importer from Rest API Specs (Unit Tests)
on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - '.github/workflows/unit-test-rest-api-specs-importer.yaml'
      - 'config/resource-manager.hcl'
      - 'config/resources/**'
      - 'submodules/rest-api-specs'
      - 'tools/importer-rest-api-specs/**'

jobs:
  test:
    runs-on: custom-linux-xl
    steps:
      - name: mount a ramdisk to working dir
        run: |
          sudo mount -t tmpfs -o size=32G tmpfs $GITHUB_WORKSPACE
      
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
         submodules: recursive

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: ./.go-version
          cache-dependency-path: |
            tools/generator-go-sdk/go.mod
            tools/data-api-differ/go.mod
            tools/wrapper-automation/go.mod
            tools/data-api/go.mod
            tools/importer-msgraph-metadata/go.mod
            tools/data-api-sdk/go.mod
            tools/sdk/go.mod
            tools/importer-rest-api-specs/go.mod
            tools/data-api-repository/go.mod
            tools/version-bumper/go.mod
            tools/generator-terraform/go.mod


      - name: run unit tests
        run: |
          cd ./tools/importer-rest-api-specs
          make test
