---
name: Verify All Microsoft Graph Services can be Imported and Generated
on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - '.github/workflows/unit-test-end-to-end-microsoft-graph.yaml'
      - 'config/microsoft-graph.hcl'
      - 'tools/generator-go-sdk/**'
      - 'tools/importer-msgraph-metadata/**'

jobs:
  test:
    runs-on: custom-linux-xl
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: ./.go-version

      - name: "Build and Run importer-msgraph-metadata"
        id: import-data
        run: |
          cd ./tools/importer-msgraph-metadata
          make tools
          make build
          make import

      - name: "Run the Go SDK Generator"
        run: |
          # go go gadget generator
          ./scripts/automation-generate-go-sdk.sh microsoft-graph
