---
name: Importer from Rest API Specs (Unit Tests)
on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - '.github/workflows/unit-test-rest-api-specs-importer.yaml'
      - 'config/resource-manager.hcl'
      - 'config/resources/**'
      - 'submodules/rest-api-specs'
      - 'tools/importer-rest-api-specs/**'

jobs:
  test:
    runs-on: custom-linux-xl
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
         submodules: recursive

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: ./.go-version

      - name: run unit tests
        run: |
          cd ./tools/importer-rest-api-specs
          make test
